body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}

.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movie-card {
    width: 200px;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

    .movie-card img {
        max-width: auto;
        border-radius: 4px;
    }


.movie-list img {
    width: auto;
    height: auto;
}

.movie-list {
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

.error-message {
    color: red;
    text-align: center;
}

.search-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.search-input,
.user-id-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

.search-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

    .search-button:hover {
        background-color: #0056b3;
    }

.favorite-movies-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .favorite-movies-table th,
    .favorite-movies-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .favorite-movies-table th {
        background-color: #f4f4f4;
    }

    .favorite-movies-table img {
        border-radius: 4px;
    }

.movie-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.movie-details {
    margin: 20px 0;
}

    .movie-details img {
        border-radius: 4px;
        margin-bottom: 20px;
    }

    .movie-details p {
        font-size: 16px;
        line-height: 1.5;
        color: #333;
    }

.error-message {
    color: red;
}
